schemas/xhtml.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  epubveri — EPUB XHTML content-document schema (v1 / schema-engine increment "e1").

  Authored from scratch for epubveri (copyright the project owner; ships under
  the project's dual AGPL/commercial license). NOT derived from epubcheck's or
  W3C's XHTML/HTML5 RELAX NG schemas.

  Design (see CLAUDE.md's schema-engine notes for the fuller rationale):
    - STRICT on element vocabulary: only elements defined here are legal, so
      obsolete/removed HTML elements (keygen, applet, marquee, frame(set),
      isindex, basefont, center, font, acronym, tt, big, strike, ...) are
      rejected for free, with no dedicated code.
    - PERMISSIVE on nesting order: flow/phrasing content share pools (mixed +
      choice), not HTML5's exact per-element nesting rules. This keeps
      false-positive risk near zero on real-world books, at the cost of
      missing some real HTML5 nesting violations (e.g. <p> inside <p>).
    - Attributes: RELAX NG name classes cannot express a string-prefix
      wildcard (no "any attribute starting with data-"), so global attributes
      are a curated allow-list of standard HTML globals + epub:type/
      epub:trigger, PLUS a permissive catch-all for anything else EXCEPT a
      curated exclusion list (obsolete/removed names, and the handful of
      attributes we give real value-level constraints so the catch-all can't
      silently bypass them). This catches obsolete-attribute errors via the
      exclusion while staying permissive (and false-positive-safe) on
      data-*/aria-*/arbitrary other attributes.
    - `epub:type`/`epub:trigger` are excluded from head/metadata elements
      (title/meta/link/style/base): epubcheck flags epub:type there as
      invalid, and it's cheap to encode as a real grammar constraint.
    - SVG/MathML are accepted as opaque foreign-namespace subtrees (any
      attributes, any children, recursive) — their own content models are out
      of scope for this increment.
    - Forms vocabulary (form/input/select/textarea/button/...) is out of
      scope for v1.
  Deliberately NOT constrained (to avoid false positives): the HTML5
  "datetime" attribute microsyntax (not XSD-shaped; real books use forms our
  XSD datatypes would wrongly reject), and img's `alt` (commonly omitted in
  real books; a missing-alt check belongs in a separate warning-level,
  hand-coded check, not a hard schema error).
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:epub="http://www.idpf.org/2007/ops"
         ns="http://www.w3.org/1999/xhtml"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start><ref name="htmlEl"/></start>

  <!-- ============ document skeleton ============ -->

  <define name="htmlEl">
    <element name="html">
      <ref name="globalAttrs"/>
      <ref name="headEl"/>
      <ref name="bodyEl"/>
    </element>
  </define>

  <define name="headEl">
    <element name="head">
      <ref name="globalAttrs"/>
      <interleave>
        <!-- a missing <title> is a warning in epubcheck, not a hard error;
             keep it grammar-optional so we don't reject the whole document. -->
        <optional><element name="title"><ref name="globalAttrsCore"/><text/></element></optional>
        <zeroOrMore>
          <choice>
            <ref name="metaEl"/>
            <ref name="linkEl"/>
            <element name="style"><ref name="globalAttrsCore"/>
              <optional><attribute name="type"><data type="string"/></attribute></optional>
              <text/>
            </element>
            <element name="base">
              <ref name="globalAttrsCore"/>
              <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
            </element>
            <ref name="scriptEl"/>
            <!-- the deprecated EPUB3 trigger element (still epubcheck-valid,
                 with a deprecation warning) -->
            <element name="epub:trigger"><ref name="globalAttrsCore"/></element>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="scriptEl">
    <element name="script"><ref name="globalAttrsCore"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <text/>
    </element>
  </define>

  <!-- <meta>/<link> are also legal directly in flow content in real-world
       usage (e.g. RDFa attributes on <link>/<meta> in <body>), so these are
       shared with phrasingChoiceNoTime, not head-only. -->
  <define name="metaEl">
    <element name="meta"><ref name="globalAttrsCore"/>
      <!-- #33: found by the corpus fallout of excepting `name` from the
           wildcard for input's own rules - <meta name="viewport"
           content="..."> was relying entirely on the wildcard for `name`
           (`content` is already global, added in #34 slice C's RDFA set,
           and already granted here via globalAttrsCore). -->
      <optional><attribute name="name"><data type="string"/></attribute></optional>
    </element>
  </define>
  <define name="linkEl">
    <element name="link">
      <ref name="globalAttrsCore"/>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <!-- #33: found by the unit-test/corpus fallout of excepting `type`
           from the wildcard for input/button/a/script's own rules -
           <link type="text/css"> (very common, e.g. stylesheet links) was
           relying entirely on the wildcard and had no explicit rule of
           its own. -->
      <optional><attribute name="type"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="bodyEl">
    <element name="body"><ref name="globalAttrs"/><ref name="flowContent"/></element>
  </define>

  <!-- #34 slice B: the <body>-only window/document lifecycle events
       (mod/html5/meta.rnc, body.attrs.on* - onunload/onpageshow/etc.) are
       deliberately NOT given their own grammar rule yet. Granting them
       only on <body> requires excluding them from anyOtherAttr's
       except-list everywhere else too (RNG's attribute-uniqueness rule is
       global, not per-element) - which would make them rejected on every
       *other* element pre-#36, breaking this slice's verdict-neutrality
       (caught by xhtml_grammar_accepts_body_only_window_events_anywhere_
       pre_cutover failing when first tried). Properly scoping them to
       <body> only is meaningful once the wildcard is gone, i.e. #36
       territory - left fully wildcard-covered (no schema change at all)
       until then, same as this issue's other per-element-enforcement
       deferrals (role's token enum, aria-* value types). -->

  <!-- ============ global attributes ============ -->

  <define name="langValue">
    <choice><value type="token"></value><data type="language"/></choice>
  </define>

  <!-- globals minus epub:type/epub:trigger; used on head/metadata elements,
       where epubcheck flags epub:type as invalid. -->
  <define name="globalAttrsCore">
    <optional><attribute name="id"><data type="string"/></attribute></optional>
    <optional><attribute name="class"><data type="string"/></attribute></optional>
    <optional><attribute name="style"><data type="string"/></attribute></optional>
    <optional><attribute name="title"><data type="string"/></attribute></optional>
    <optional><attribute name="lang"><ref name="langValue"/></attribute></optional>
    <optional><attribute name="xml:lang"><ref name="langValue"/></attribute></optional>
    <optional>
      <attribute name="dir">
        <choice><value>ltr</value><value>rtl</value><value>auto</value></choice>
      </attribute>
    </optional>
    <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
    <optional><attribute name="hidden"><data type="token"/></attribute></optional>
    <optional>
      <attribute name="translate">
        <choice><value>yes</value><value>no</value></choice>
      </attribute>
    </optional>
    <optional><attribute name="accesskey"><data type="token"/></attribute></optional>
    <optional><attribute name="contenteditable"><data type="token"/></attribute></optional>
    <optional><attribute name="spellcheck"><data type="token"/></attribute></optional>

    <!-- HTML5 microdata (epubcheck schema/30 mod/html5/microdata.rnc).
         Kept value-permissive (token/anyURI/NMTOKEN-list, not a strict
         microdata-conformance grammar) since #34's scope is attribute
         *names*, not full value-level conformance - see issue #31/#34. -->
    <optional><attribute name="itemscope"><data type="token"/></attribute></optional>
    <optional><attribute name="itemid"><data type="anyURI"/></attribute></optional>
    <optional>
      <attribute name="itemref"><list><zeroOrMore><data type="NMTOKEN"/></zeroOrMore></list></attribute>
    </optional>
    <optional>
      <!-- token, not NMTOKEN: HTML5 microdata explicitly allows an itemprop
           value to be an absolute URL (e.g. "http://example.com/color"),
           which contains "/" - not a legal NMTOKEN character. Confirmed
           against epubcheck's own corpus fixture (06-content-document/
           files/microdata-valid.xhtml, which uses exactly this shape). -->
      <attribute name="itemprop"><list><zeroOrMore><data type="token"/></zeroOrMore></list></attribute>
    </optional>
    <optional>
      <attribute name="itemtype"><list><zeroOrMore><data type="anyURI"/></zeroOrMore></list></attribute>
    </optional>

    <!-- HTML5 web components (mod/html5/web-components.rnc). epubcheck's
         schema does not define "part" at all - not added here. -->
    <optional><attribute name="is"><data type="token"/></attribute></optional>
    <optional><attribute name="slot"><data type="string"/></attribute></optional>

    <!-- RDFA's bare `prefix` (mod/html5/rdfa.rnc, via epubcheck's
         epub-xhtml-inc.rnc - a deviation from stock html5-rnc). Pulled
         forward from #34 slice C (the fuller RDFA global set, deferred
         there pending a collision check against existing per-element
         rel/content/type/etc. definitions) because epubcheck's own corpus
         fixture microdata-valid.xhtml uses it on <html> and real books
         combine RDFA prefixes with microdata; `prefix` itself has no
         collision with any existing attribute in this grammar. Distinct
         from the namespaced `epub:prefix` (schema/30/mod/epub-prefix-
         attr.rnc), which is separate, HTML-only-on-<html>, and not yet
         added (#35 territory - epub: namespaced attribute family). -->
    <optional><attribute name="prefix"><data type="string"/></attribute></optional>

    <!-- #34 slice C: the rest of RDFA 1.1's global attribute set
         (mod/html5/rdfa.rnc, via epubcheck's epub-xhtml-inc.rnc). Checked
         each name against the existing grammar first (grep for
         `name="X"` across this file) - all nine are unclaimed by any
         per-element definition, so no collision. Value-permissive
         (string, not a real CURIE/SafeCURIE/term-list grammar) for the
         same name-only-scope reason as the rest of #34.

         `rel` is the one RDFA global name deliberately NOT added here:
         `<a>` (both EPUB 3's aEl and EPUB 2's aEl-epub2) already has its
         own explicit `rel` definition, already value-permissive
         (`<data type="string"/>`), so a second global one would collide
         (RNG attribute uniqueness) on <a> specifically. Elsewhere `rel`
         stays exactly as before - purely wildcard-covered - since
         excluding it from anyOtherAttr's except-list without granting it
         everywhere it's actually used would repeat slice B's
         body-only-events regression (a name excluded from the global
         wildcard but only re-granted on some elements becomes wrongly
         rejected on the rest). -->
    <optional><attribute name="about"><data type="string"/></attribute></optional>
    <optional><attribute name="property"><data type="string"/></attribute></optional>
    <optional><attribute name="typeof"><data type="string"/></attribute></optional>
    <optional><attribute name="vocab"><data type="string"/></attribute></optional>
    <optional><attribute name="content"><data type="string"/></attribute></optional>
    <optional><attribute name="datatype"><data type="string"/></attribute></optional>
    <optional><attribute name="resource"><data type="string"/></attribute></optional>
    <optional><attribute name="rev"><data type="string"/></attribute></optional>
    <optional><attribute name="inlist"><data type="string"/></attribute></optional>

    <!-- #35: the rest of xml:*/epub:* (data.rnc-adjacent, issue #35's own
         enumerated scope - "xml:* (xml:lang, xml:base, xml:space)",
         "epub:* (epub:type, epub:prefix, epub:switch/trigger)"; epub:type/
         epub:trigger already existed, epub:switch is an element trio, not
         an attribute, already handled). Same except-list pattern as
         xml:lang/epub:type/epub:trigger (RELAX NG's <anyName> matches
         across namespaces regardless of the wildcard's `ns=""` - see #38 -
         so a namespaced name still needs excepting to avoid a duplicate-
         attribute conflict with its own explicit rule here). -->
    <optional><attribute name="xml:base"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xml:space"><data type="token"/></attribute></optional>
    <!-- Namespaced `epub:prefix` (schema/30/mod/epub-prefix-attr.rnc,
         epub.prefix.attr.ns) - distinct from the bare `prefix` added in
         slice A (RDFA's, superseded-by/coexisting-with this one).
         epubcheck only wires this onto <html>, but keeping it here in
         globalAttrsCore (rather than a one-off on htmlEl) matches how
         every other #34/#35 addition has been handled - see the epic
         plan's note on EPUB 2 scoping being deferred to #36 either way. -->
    <optional><attribute name="epub:prefix"><data type="string"/></attribute></optional>

    <!-- HTML5 interaction/editing globals (mod/html5/applications.rnc). -->
    <optional><attribute name="draggable"><data type="token"/></attribute></optional>
    <optional><attribute name="inputmode"><data type="token"/></attribute></optional>
    <optional><attribute name="enterkeyhint"><data type="token"/></attribute></optional>
    <optional><attribute name="autocapitalize"><data type="token"/></attribute></optional>
    <optional><attribute name="popover"><data type="token"/></attribute></optional>

    <!-- Core-scripting non-event globals (mod/html5/common.rnc /
         core-scripting.rnc). -->
    <optional><attribute name="autofocus"><data type="token"/></attribute></optional>
    <optional><attribute name="nonce"><data type="string"/></attribute></optional>

    <!-- #34 slice B: the generic on* event-handler set (mod/html5/
         core-scripting.rnc, common.attrs.scripting - folded into every
         element via common.attrs.other, so global here too). Value-
         permissive (string, not syntax-checked as ECMAScript - epubcheck's
         own schema doesn't check it either, see epubcheck.patch notes).
         NOTE: filed as its own issue (#37), not fixed here - has_script
         (OPF-014/015 "scripted" detection, src/opf.rs) currently keys off
         any <input>/<button>/<select>/<textarea> element regardless of
         attributes, and does not look at on* at all. Adding these names
         to the grammar is independent of that detection bug. -->
    <optional><attribute name="onauxclick"><data type="string"/></attribute></optional>
    <optional><attribute name="onbeforeinput"><data type="string"/></attribute></optional>
    <optional><attribute name="onbeforematch"><data type="string"/></attribute></optional>
    <optional><attribute name="onblur"><data type="string"/></attribute></optional>
    <optional><attribute name="oncancel"><data type="string"/></attribute></optional>
    <optional><attribute name="oncanplay"><data type="string"/></attribute></optional>
    <optional><attribute name="oncanplaythrough"><data type="string"/></attribute></optional>
    <optional><attribute name="onchange"><data type="string"/></attribute></optional>
    <optional><attribute name="onclick"><data type="string"/></attribute></optional>
    <optional><attribute name="onclose"><data type="string"/></attribute></optional>
    <optional><attribute name="oncontextlost"><data type="string"/></attribute></optional>
    <optional><attribute name="oncontextmenu"><data type="string"/></attribute></optional>
    <optional><attribute name="oncontextrestored"><data type="string"/></attribute></optional>
    <optional><attribute name="oncopy"><data type="string"/></attribute></optional>
    <optional><attribute name="oncuechange"><data type="string"/></attribute></optional>
    <optional><attribute name="oncut"><data type="string"/></attribute></optional>
    <optional><attribute name="ondblclick"><data type="string"/></attribute></optional>
    <optional><attribute name="ondrag"><data type="string"/></attribute></optional>
    <optional><attribute name="ondragend"><data type="string"/></attribute></optional>
    <optional><attribute name="ondragenter"><data type="string"/></attribute></optional>
    <optional><attribute name="ondragleave"><data type="string"/></attribute></optional>
    <optional><attribute name="ondragover"><data type="string"/></attribute></optional>
    <optional><attribute name="ondragstart"><data type="string"/></attribute></optional>
    <optional><attribute name="ondrop"><data type="string"/></attribute></optional>
    <optional><attribute name="ondurationchange"><data type="string"/></attribute></optional>
    <optional><attribute name="onemptied"><data type="string"/></attribute></optional>
    <optional><attribute name="onended"><data type="string"/></attribute></optional>
    <optional><attribute name="onerror"><data type="string"/></attribute></optional>
    <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
    <optional><attribute name="onformdata"><data type="string"/></attribute></optional>
    <optional><attribute name="oninput"><data type="string"/></attribute></optional>
    <optional><attribute name="oninvalid"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeydown"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeypress"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeyup"><data type="string"/></attribute></optional>
    <optional><attribute name="onload"><data type="string"/></attribute></optional>
    <optional><attribute name="onloadeddata"><data type="string"/></attribute></optional>
    <optional><attribute name="onloadedmetadata"><data type="string"/></attribute></optional>
    <optional><attribute name="onloadstart"><data type="string"/></attribute></optional>
    <optional><attribute name="onmousedown"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseenter"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseleave"><data type="string"/></attribute></optional>
    <optional><attribute name="onmousemove"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseout"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseover"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseup"><data type="string"/></attribute></optional>
    <optional><attribute name="onpaste"><data type="string"/></attribute></optional>
    <optional><attribute name="onpause"><data type="string"/></attribute></optional>
    <optional><attribute name="onplay"><data type="string"/></attribute></optional>
    <optional><attribute name="onplaying"><data type="string"/></attribute></optional>
    <optional><attribute name="onprogress"><data type="string"/></attribute></optional>
    <optional><attribute name="onratechange"><data type="string"/></attribute></optional>
    <optional><attribute name="onreset"><data type="string"/></attribute></optional>
    <optional><attribute name="onresize"><data type="string"/></attribute></optional>
    <optional><attribute name="onscroll"><data type="string"/></attribute></optional>
    <optional><attribute name="onscrollend"><data type="string"/></attribute></optional>
    <optional><attribute name="onsecuritypolicyviolation"><data type="string"/></attribute></optional>
    <optional><attribute name="onseeked"><data type="string"/></attribute></optional>
    <optional><attribute name="onseeking"><data type="string"/></attribute></optional>
    <optional><attribute name="onselect"><data type="string"/></attribute></optional>
    <optional><attribute name="onslotchange"><data type="string"/></attribute></optional>
    <optional><attribute name="onstalled"><data type="string"/></attribute></optional>
    <optional><attribute name="onsubmit"><data type="string"/></attribute></optional>
    <optional><attribute name="onsuspend"><data type="string"/></attribute></optional>
    <optional><attribute name="ontimeupdate"><data type="string"/></attribute></optional>
    <optional><attribute name="ontoggle"><data type="string"/></attribute></optional>
    <optional><attribute name="onvolumechange"><data type="string"/></attribute></optional>
    <optional><attribute name="onwaiting"><data type="string"/></attribute></optional>
    <optional><attribute name="onwheel"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerover"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerenter"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerdown"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointermove"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerrawupdate"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerup"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointercancel"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerout"><data type="string"/></attribute></optional>
    <optional><attribute name="onpointerleave"><data type="string"/></attribute></optional>
    <optional><attribute name="ongotpointercapture"><data type="string"/></attribute></optional>
    <optional><attribute name="onlostpointercapture"><data type="string"/></attribute></optional>

    <!-- WAI-ARIA 1.2 global states/properties (mod/html5/aria.rnc) plus
         `role` itself. Names only, value-permissive: epubcheck's schema
         assembles `role` as a closed per-element enum of ARIA/DPUB-ARIA
         role tokens, and several aria-* values have real enum/idref
         constraints - both are real value-level work out of #34's scope
         ("role token-value validation can be a follow-up", issue #34). -->
    <optional><attribute name="role"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-atomic"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-busy"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-controls"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-current"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-describedby"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-details"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-disabled"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-errormessage"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-flowto"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-haspopup"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-hidden"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-invalid"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-keyshortcuts"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-label"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-labelledby"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-live"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-owns"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-relevant"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-roledescription"><data type="string"/></attribute></optional>
    <optional><attribute name="aria-description"><data type="string"/></attribute></optional>

    <ref name="anyOtherAttr"/>
  </define>

  <define name="globalAttrs">
    <ref name="globalAttrsCore"/>
    <optional>
      <attribute name="epub:type">
        <list><zeroOrMore><data type="NMTOKEN"/></zeroOrMore></list>
      </attribute>
    </optional>
    <optional><attribute name="epub:trigger"><data type="token"/></attribute></optional>
  </define>

  <!-- Any attribute other than the standard globals/element-specifics above,
       explicitly excluding: (a) known-obsolete/removed attribute names, and
       (b) the handful of names we give a real value-level constraint to
       elsewhere (so this permissive fallback can't silently bypass them —
       RELAX NG's choice-based attribute matching means an unconstrained
       catch-all would otherwise make any co-existing strict pattern a no-op).
       This is how obsolete-attribute errors are caught without an exhaustive
       allow-list, since RELAX NG name classes can't express prefix wildcards
       like "any data-* attribute". -->
  <define name="anyOtherAttr">
    <zeroOrMore>
      <attribute>
        <anyName ns="">
          <except>
            <name>typemustmatch</name>
            <name>contextmenu</name>
            <name>dropzone</name>
            <name>pubdate</name>
            <name>seamless</name>
            <name>aria-describedat</name>
            <name>dir</name>
            <name>translate</name>
            <name>lang</name>
            <name>xml:lang</name>
            <name>epub:type</name>
            <name>epub:trigger</name>
            <name>border</name>
            <!-- #34 slice A: names given a real (if permissive) definition
                 in globalAttrsCore above, so the wildcard must not also
                 match them (RELAX NG requires disjoint attribute name
                 classes within a group). -->
            <name>itemscope</name>
            <name>itemid</name>
            <name>itemref</name>
            <name>itemprop</name>
            <name>itemtype</name>
            <name>is</name>
            <name>slot</name>
            <name>prefix</name>
            <!-- #34 slice C: RDFA globals. `rel` deliberately excluded
                 from this list - see the comment above its definitions. -->
            <name>about</name>
            <name>property</name>
            <name>typeof</name>
            <name>vocab</name>
            <name>content</name>
            <name>datatype</name>
            <name>resource</name>
            <name>rev</name>
            <name>inlist</name>
            <!-- #35: xml:base/xml:space/epub:prefix. -->
            <name>xml:base</name>
            <name>xml:space</name>
            <name>epub:prefix</name>
            <name>draggable</name>
            <name>inputmode</name>
            <name>enterkeyhint</name>
            <name>autocapitalize</name>
            <name>popover</name>
            <name>autofocus</name>
            <name>nonce</name>
            <name>role</name>
            <name>aria-atomic</name>
            <name>aria-busy</name>
            <name>aria-controls</name>
            <name>aria-current</name>
            <name>aria-describedby</name>
            <name>aria-details</name>
            <name>aria-disabled</name>
            <name>aria-errormessage</name>
            <name>aria-flowto</name>
            <name>aria-haspopup</name>
            <name>aria-hidden</name>
            <name>aria-invalid</name>
            <name>aria-keyshortcuts</name>
            <name>aria-label</name>
            <name>aria-labelledby</name>
            <name>aria-live</name>
            <name>aria-owns</name>
            <name>aria-relevant</name>
            <name>aria-roledescription</name>
            <name>aria-description</name>
            <!-- #34 slice B: the generic on* event-handler set. -->
            <name>onauxclick</name>
            <name>onbeforeinput</name>
            <name>onbeforematch</name>
            <name>onblur</name>
            <name>oncancel</name>
            <name>oncanplay</name>
            <name>oncanplaythrough</name>
            <name>onchange</name>
            <name>onclick</name>
            <name>onclose</name>
            <name>oncontextlost</name>
            <name>oncontextmenu</name>
            <name>oncontextrestored</name>
            <name>oncopy</name>
            <name>oncuechange</name>
            <name>oncut</name>
            <name>ondblclick</name>
            <name>ondrag</name>
            <name>ondragend</name>
            <name>ondragenter</name>
            <name>ondragleave</name>
            <name>ondragover</name>
            <name>ondragstart</name>
            <name>ondrop</name>
            <name>ondurationchange</name>
            <name>onemptied</name>
            <name>onended</name>
            <name>onerror</name>
            <name>onfocus</name>
            <name>onformdata</name>
            <name>oninput</name>
            <name>oninvalid</name>
            <name>onkeydown</name>
            <name>onkeypress</name>
            <name>onkeyup</name>
            <name>onload</name>
            <name>onloadeddata</name>
            <name>onloadedmetadata</name>
            <name>onloadstart</name>
            <name>onmousedown</name>
            <name>onmouseenter</name>
            <name>onmouseleave</name>
            <name>onmousemove</name>
            <name>onmouseout</name>
            <name>onmouseover</name>
            <name>onmouseup</name>
            <name>onpaste</name>
            <name>onpause</name>
            <name>onplay</name>
            <name>onplaying</name>
            <name>onprogress</name>
            <name>onratechange</name>
            <name>onreset</name>
            <name>onresize</name>
            <name>onscroll</name>
            <name>onscrollend</name>
            <name>onsecuritypolicyviolation</name>
            <name>onseeked</name>
            <name>onseeking</name>
            <name>onselect</name>
            <name>onslotchange</name>
            <name>onstalled</name>
            <name>onsubmit</name>
            <name>onsuspend</name>
            <name>ontimeupdate</name>
            <name>ontoggle</name>
            <name>onvolumechange</name>
            <name>onwaiting</name>
            <name>onwheel</name>
            <name>onpointerover</name>
            <name>onpointerenter</name>
            <name>onpointerdown</name>
            <name>onpointermove</name>
            <name>onpointerrawupdate</name>
            <name>onpointerup</name>
            <name>onpointercancel</name>
            <name>onpointerout</name>
            <name>onpointerleave</name>
            <name>ongotpointercapture</name>
            <name>onlostpointercapture</name>
            <!-- #33: forms vocabulary (input/select/textarea/button), both
                 newly-added and pre-existing element-specific names. NOT
                 just tidiness - a name matchable by both an element's own
                 rule AND this wildcard is genuine grammar ambiguity, and
                 the derivative validator explores both alternatives at
                 every such attribute, compounding per attribute (2^n).
                 Confirmed empirically (see the bisect_* scratch timing
                 tests in src/rng/mod.rs, temporary, to be removed): with
                 the wildcard's ~140-name except-list, an unexcepted
                 element with ~15 ambiguous attributes present took ~8s to
                 validate; <input>'s full ~29-attribute completion made it
                 effectively hang (tens of minutes). Excepting these names
                 restores determinism (each attribute matches exactly one
                 alternative) and linear time. Some of these (name, value,
                 type, size, form, ...) are legitimately used on other
                 elements too via this same wildcard - verified via the
                 full corpus run, not just by inspection, same discipline
                 as every other slice in this epic. -->
            <name>type</name>
            <name>name</name>
            <name>value</name>
            <name>list</name>
            <name>form</name>
            <name>disabled</name>
            <name>placeholder</name>
            <name>checked</name>
            <name>required</name>
            <name>min</name>
            <name>max</name>
            <name>step</name>
            <name>pattern</name>
            <name>multiple</name>
            <name>accept</name>
            <name>autocomplete</name>
            <name>size</name>
            <name>maxlength</name>
            <name>minlength</name>
            <name>readonly</name>
            <name>src</name>
            <name>alt</name>
            <name>dirname</name>
            <name>capture</name>
            <name>height</name>
            <name>width</name>
            <name>formaction</name>
            <name>formmethod</name>
            <name>formnovalidate</name>
            <name>formtarget</name>
            <name>formenctype</name>
            <name>rows</name>
            <name>cols</name>
            <name>wrap</name>
            <name>popovertarget</name>
            <name>popovertargetaction</name>
            <!-- #33 slice 2: a/area/img/ins/del.attrs completion. Applying
                 #39's lesson proactively - every per-element attribute
                 this slice touches (old or new) gets excepted, not just
                 the newly-added names, to avoid reintroducing the
                 exponential-ambiguity bug found in slice 1. -->
            <name>href</name>
            <name>target</name>
            <name>download</name>
            <name>hreflang</name>
            <name>ping</name>
            <name>referrerpolicy</name>
            <name>shape</name>
            <name>coords</name>
            <name>loading</name>
            <name>decoding</name>
            <name>crossorigin</name>
            <name>ismap</name>
            <name>cite</name>
            <name>datetime</name>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>

  <!-- ============ content-model pools (permissive on order/count) ============ -->

  <define name="phrasingContent">
    <mixed><zeroOrMore><ref name="phrasingChoice"/></zeroOrMore></mixed>
  </define>

  <!-- same as phrasingContent, but excludes <time> — used as <time>'s own
       content model so <time> cannot nest inside another <time>. -->
  <define name="phrasingContentNoTime">
    <mixed><zeroOrMore><ref name="phrasingChoiceNoTime"/></zeroOrMore></mixed>
  </define>

  <define name="phrasingChoice">
    <choice>
      <ref name="timeEl"/>
      <ref name="phrasingChoiceNoTime"/>
    </choice>
  </define>

  <define name="phrasingChoiceNoTime">
    <choice>
      <ref name="aEl"/>
      <element name="span"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="em"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="strong"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="small"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="s"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="cite"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="q">
        <ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <ref name="phrasingContent"/>
      </element>
      <element name="dfn"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="abbr"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <ref name="rubyEl"/>
      <element name="data">
        <ref name="globalAttrs"/>
        <attribute name="value"><data type="string"/></attribute>
        <ref name="phrasingContent"/>
      </element>
      <element name="code"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="var"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="samp"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="kbd"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="sub"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="sup"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="i"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="b"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="u"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="mark"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="bdi"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="bdo"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="wbr"><ref name="globalAttrs"/></element>
      <element name="br"><ref name="globalAttrs"/></element>
      <!-- #33: ins/del.attrs (revision.rnc) - previously zero explicit
           attributes on either, entirely wildcard-covered. -->
      <element name="ins"><ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <optional><attribute name="datetime"><data type="string"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
      <element name="del"><ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <optional><attribute name="datetime"><data type="string"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
      <ref name="imgEl"/>
      <ref name="audioEl"/>
      <ref name="videoEl"/>
      <ref name="pictureEl"/>
      <ref name="iframeEl"/>
      <ref name="embedEl"/>
      <ref name="objectEl"/>
      <element name="canvas"><ref name="globalAttrs"/>
        <optional><attribute name="width"><data type="string"/></attribute></optional>
        <optional><attribute name="height"><data type="string"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
      <ref name="svgEl"/>
      <ref name="mathEl"/>
      <ref name="mapEl"/>
      <ref name="metaEl"/>
      <ref name="linkEl"/>
      <ref name="scriptEl"/>
      <element name="noscript"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <ref name="formEl"/>
      <ref name="labelEl"/>
      <ref name="buttonEl"/>
      <ref name="selectEl"/>
      <ref name="textareaEl"/>
      <ref name="datalistEl"/>
      <ref name="outputEl"/>
      <ref name="inputEl"/>
      <element name="fieldset"><ref name="globalAttrs"/>
        <optional><attribute name="disabled"><data type="token"/></attribute></optional>
        <optional><attribute name="form"><data type="string"/></attribute></optional>
        <interleave>
          <optional><element name="legend"><ref name="globalAttrs"/><ref name="phrasingContent"/></element></optional>
          <ref name="flowContent"/>
        </interleave>
      </element>
      <element name="progress"><ref name="globalAttrs"/>
        <optional><attribute name="value"><data type="decimal"/></attribute></optional>
        <optional><attribute name="max"><data type="decimal"/></attribute></optional>
        <ref name="phrasingContent"/>
      </element>
      <element name="meter"><ref name="globalAttrs"/>
        <optional><attribute name="value"><data type="decimal"/></attribute></optional>
        <optional><attribute name="min"><data type="decimal"/></attribute></optional>
        <optional><attribute name="max"><data type="decimal"/></attribute></optional>
        <ref name="phrasingContent"/>
      </element>
    </choice>
  </define>

  <!-- ============ basic forms vocabulary (epubcheck accepts it in content
       documents; kept permissive since we don't do the deeper interactive-
       content nesting rules HTML5 defines for forms). ============ -->

  <define name="formEl">
    <element name="form"><ref name="globalAttrs"/>
      <optional><attribute name="action"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="method"><data type="token"/></attribute></optional>
      <optional><attribute name="enctype"><data type="token"/></attribute></optional>
      <ref name="flowContent"/>
    </element>
  </define>
  <define name="labelEl">
    <element name="label"><ref name="globalAttrs"/>
      <optional><attribute name="for"><data type="string"/></attribute></optional>
      <ref name="phrasingContent"/>
    </element>
  </define>
  <!-- #33 (part of the #31 attribute-allowlist epic): forms vocabulary
       completion against epubcheck's mod/html5/web-forms.rnc/web-forms2.rnc
       (button.attrs/button.submit.attrs etc, input.*.attrs per type=
       variant, select/textarea). Value-permissive (string/token, not the
       exact per-type-variant HTML5 grammar) - same name-only scope as the
       rest of #33/#34/#35. `autofocus` already exists globally
       (globalAttrsCore, #34 slice A) - not repeated per-element here. -->
  <define name="buttonEl">
    <element name="button"><ref name="globalAttrs"/>
      <optional><attribute name="type"><data type="token"/></attribute></optional>
      <optional><attribute name="disabled"><data type="token"/></attribute></optional>
      <optional><attribute name="form"><data type="string"/></attribute></optional>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="formaction"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="formmethod"><data type="token"/></attribute></optional>
      <optional><attribute name="formnovalidate"><data type="token"/></attribute></optional>
      <optional><attribute name="formtarget"><data type="token"/></attribute></optional>
      <optional><attribute name="formenctype"><data type="token"/></attribute></optional>
      <optional><attribute name="popovertarget"><data type="string"/></attribute></optional>
      <optional><attribute name="popovertargetaction"><data type="token"/></attribute></optional>
      <ref name="phrasingContent"/>
    </element>
  </define>
  <define name="optionEl">
    <element name="option"><ref name="globalAttrs"/>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="selected"><data type="token"/></attribute></optional>
      <optional><attribute name="disabled"><data type="token"/></attribute></optional>
      <text/>
    </element>
  </define>
  <define name="selectEl">
    <element name="select"><ref name="globalAttrs"/>
      <optional><attribute name="multiple"><data type="token"/></attribute></optional>
      <optional><attribute name="disabled"><data type="token"/></attribute></optional>
      <optional><attribute name="form"><data type="string"/></attribute></optional>
      <optional><attribute name="required"><data type="token"/></attribute></optional>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="size"><data type="string"/></attribute></optional>
      <optional><attribute name="autocomplete"><data type="string"/></attribute></optional>
      <zeroOrMore>
        <choice>
          <ref name="optionEl"/>
          <element name="optgroup"><ref name="globalAttrs"/>
            <optional><attribute name="label"><data type="string"/></attribute></optional>
            <zeroOrMore><ref name="optionEl"/></zeroOrMore>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="textareaEl">
    <element name="textarea"><ref name="globalAttrs"/>
      <optional><attribute name="disabled"><data type="token"/></attribute></optional>
      <optional><attribute name="form"><data type="string"/></attribute></optional>
      <optional><attribute name="required"><data type="token"/></attribute></optional>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="rows"><data type="string"/></attribute></optional>
      <optional><attribute name="cols"><data type="string"/></attribute></optional>
      <optional><attribute name="wrap"><data type="token"/></attribute></optional>
      <optional><attribute name="placeholder"><data type="string"/></attribute></optional>
      <optional><attribute name="maxlength"><data type="string"/></attribute></optional>
      <optional><attribute name="minlength"><data type="string"/></attribute></optional>
      <optional><attribute name="readonly"><data type="token"/></attribute></optional>
      <optional><attribute name="autocomplete"><data type="string"/></attribute></optional>
      <optional><attribute name="dirname"><data type="string"/></attribute></optional>
      <text/>
    </element>
  </define>
  <define name="datalistEl">
    <element name="datalist"><ref name="globalAttrs"/>
      <mixed><zeroOrMore><ref name="optionEl"/></zeroOrMore></mixed>
    </element>
  </define>
  <define name="outputEl">
    <element name="output"><ref name="globalAttrs"/>
      <optional><attribute name="for"><data type="string"/></attribute></optional>
      <optional><attribute name="form"><data type="string"/></attribute></optional>
      <ref name="phrasingContent"/>
    </element>
  </define>
  <define name="inputEl">
    <element name="input"><ref name="globalAttrs"/>
      <optional><attribute name="type"><data type="token"/></attribute></optional>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="list"><data type="string"/></attribute></optional>
      <optional><attribute name="form"><data type="string"/></attribute></optional>
      <optional><attribute name="disabled"><data type="token"/></attribute></optional>
      <optional><attribute name="placeholder"><data type="string"/></attribute></optional>
      <optional><attribute name="checked"><data type="token"/></attribute></optional>
      <optional><attribute name="required"><data type="token"/></attribute></optional>
      <optional><attribute name="min"><data type="string"/></attribute></optional>
      <optional><attribute name="max"><data type="string"/></attribute></optional>
      <optional><attribute name="step"><data type="string"/></attribute></optional>
      <optional><attribute name="pattern"><data type="string"/></attribute></optional>
      <optional><attribute name="multiple"><data type="token"/></attribute></optional>
      <optional><attribute name="accept"><data type="string"/></attribute></optional>
      <optional><attribute name="autocomplete"><data type="string"/></attribute></optional>
      <optional><attribute name="size"><data type="string"/></attribute></optional>
      <optional><attribute name="maxlength"><data type="string"/></attribute></optional>
      <optional><attribute name="minlength"><data type="string"/></attribute></optional>
      <optional><attribute name="readonly"><data type="token"/></attribute></optional>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="alt"><data type="string"/></attribute></optional>
      <optional><attribute name="dirname"><data type="string"/></attribute></optional>
      <optional><attribute name="capture"><data type="token"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="formaction"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="formmethod"><data type="token"/></attribute></optional>
      <optional><attribute name="formnovalidate"><data type="token"/></attribute></optional>
      <optional><attribute name="formtarget"><data type="token"/></attribute></optional>
      <optional><attribute name="formenctype"><data type="token"/></attribute></optional>
    </element>
  </define>

  <define name="mapEl">
    <element name="map">
      <ref name="globalAttrs"/>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <interleave>
        <zeroOrMore>
          <element name="area">
            <ref name="globalAttrs"/>
            <optional><attribute name="shape"><data type="token"/></attribute></optional>
            <optional><attribute name="coords"><data type="string"/></attribute></optional>
            <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
            <optional><attribute name="alt"><data type="string"/></attribute></optional>
            <optional><attribute name="target"><data type="token"/></attribute></optional>
            <!-- #33: area.attrs (embed.rnc). NOT referrerpolicy - confirmed
                 absent from epubcheck's own area.attrs (only phrase.rnc's
                 `a` gets it; a concrete case of epubcheck's schema
                 diverging from the plain HTML spec, per this epic's own
                 method note - mirror epubcheck, not the spec). -->
            <optional><attribute name="download"><data type="string"/></attribute></optional>
            <optional><attribute name="rel"><data type="string"/></attribute></optional>
            <optional><attribute name="ping"><data type="string"/></attribute></optional>
          </element>
        </zeroOrMore>
        <ref name="flowContent"/>
      </interleave>
    </element>
  </define>

  <define name="timeEl">
    <element name="time">
      <ref name="globalAttrs"/>
      <optional><attribute name="datetime"><data type="string"/></attribute></optional>
      <ref name="phrasingContentNoTime"/>
    </element>
  </define>

  <!-- #33: a.attrs completion against epubcheck's mod/html5/phrase.rnc.
       `ping`/`referrerpolicy` are gated `v5only` in epubcheck's own
       schema (EPUB 3 only) - not added to aEl-epub2 below. `download`/
       `hreflang` carry no such gate, added to both. -->
  <define name="aEl">
    <element name="a">
      <ref name="globalAttrs"/>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="target"><data type="token"/></attribute></optional>
      <optional><attribute name="rel"><data type="string"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="download"><data type="string"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="token"/></attribute></optional>
      <optional><attribute name="ping"><data type="string"/></attribute></optional>
      <optional><attribute name="referrerpolicy"><data type="token"/></attribute></optional>
      <ref name="phrasingContent"/>
    </element>
  </define>

  <define name="rubyEl">
    <element name="ruby">
      <ref name="globalAttrs"/>
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="phrasingChoice"/>
            <element name="rt"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
            <element name="rp"><ref name="globalAttrs"/><text/></element>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>

  <define name="imgEl">
    <element name="img">
      <ref name="globalAttrs"/>
      <attribute name="src"><data type="anyURI"/></attribute>
      <optional><attribute name="alt"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="srcset"><data type="string"/></attribute></optional>
      <optional><attribute name="sizes"><data type="string"/></attribute></optional>
      <optional><attribute name="usemap"><data type="string"/></attribute></optional>
      <!-- #33: img.attrs completion (embed.rnc). -->
      <optional><attribute name="loading"><data type="token"/></attribute></optional>
      <optional><attribute name="decoding"><data type="token"/></attribute></optional>
      <optional><attribute name="crossorigin"><data type="token"/></attribute></optional>
      <optional><attribute name="referrerpolicy"><data type="token"/></attribute></optional>
      <optional><attribute name="ismap"><data type="token"/></attribute></optional>
    </element>
  </define>

  <!-- ============ tabular + sectioning + grouping (flow-only) ============ -->

  <!-- #33: `value` on <li> (epubcheck corpus fixture li-with-value-attr-
       valid.xhtml, from w3c/epubcheck#248) and `type` on <ol> (the
       "1"/"a"/"A"/"i"/"I" list-style override) - already covered by the
       forms except-list additions above (`value` was already excepted
       for input/button) plus one new exception for `type`... actually
       `type` was already excepted too (input/button/a/script/link/style),
       so both are just new explicit grants here, no except-list change
       needed. -->
  <define name="liEl">
    <element name="li"><ref name="globalAttrs"/>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <ref name="flowContent"/>
    </element>
  </define>

  <define name="olEl">
    <element name="ol">
      <ref name="globalAttrs"/>
      <optional><attribute name="start"><data type="integer"/></attribute></optional>
      <optional><attribute name="reversed"><data type="token"/></attribute></optional>
      <optional><attribute name="type"><data type="token"/></attribute></optional>
      <zeroOrMore><ref name="liEl"/></zeroOrMore>
    </element>
  </define>

  <define name="ulEl">
    <element name="ul"><ref name="globalAttrs"/><zeroOrMore><ref name="liEl"/></zeroOrMore></element>
  </define>

  <define name="dlEl">
    <element name="dl">
      <ref name="globalAttrs"/>
      <interleave>
        <zeroOrMore>
          <element name="dt"><ref name="globalAttrs"/><ref name="flowContent"/></element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="dd"><ref name="globalAttrs"/><ref name="flowContent"/></element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="figureEl">
    <element name="figure">
      <ref name="globalAttrs"/>
      <interleave>
        <optional>
          <element name="figcaption"><ref name="globalAttrs"/><ref name="flowContent"/></element>
        </optional>
        <ref name="flowContent"/>
      </interleave>
    </element>
  </define>

  <define name="detailsEl">
    <element name="details">
      <ref name="globalAttrs"/>
      <optional><attribute name="open"><data type="token"/></attribute></optional>
      <interleave>
        <optional>
          <element name="summary"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
        </optional>
        <ref name="flowContent"/>
      </interleave>
    </element>
  </define>

  <define name="navEl">
    <element name="nav"><ref name="globalAttrs"/><ref name="flowContent"/></element>
  </define>

  <define name="headingEl">
    <choice>
      <element name="h1"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="h2"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="h3"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="h4"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="h5"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="h6"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
    </choice>
  </define>

  <define name="cellEl">
    <choice>
      <element name="td">
        <ref name="globalAttrs"/>
        <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
        <optional><attribute name="rowspan"><data type="nonNegativeInteger"/></attribute></optional>
        <optional><attribute name="headers"><data type="string"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
      <element name="th">
        <ref name="globalAttrs"/>
        <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
        <optional><attribute name="rowspan"><data type="nonNegativeInteger"/></attribute></optional>
        <optional><attribute name="headers"><data type="string"/></attribute></optional>
        <optional><attribute name="scope"><data type="token"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
    </choice>
  </define>

  <define name="trEl">
    <element name="tr"><ref name="globalAttrs"/><zeroOrMore><ref name="cellEl"/></zeroOrMore></element>
  </define>

  <define name="rowGroupOrRow">
    <choice>
      <element name="thead"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl"/></zeroOrMore></element>
      <element name="tbody"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl"/></zeroOrMore></element>
      <element name="tfoot"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl"/></zeroOrMore></element>
      <ref name="trEl"/>
    </choice>
  </define>

  <define name="tableEl">
    <element name="table">
      <ref name="globalAttrs"/>
      <!-- HTML5's obsolete-but-conforming `border` values are only "" or "1";
           excluded from anyOtherAttr above so this is the only legal path. -->
      <optional>
        <attribute name="border">
          <choice><value type="token"></value><value>1</value></choice>
        </attribute>
      </optional>
      <interleave>
        <optional>
          <element name="caption"><ref name="globalAttrs"/><ref name="flowContent"/></element>
        </optional>
        <zeroOrMore>
          <element name="colgroup">
            <ref name="globalAttrs"/>
            <optional><attribute name="span"><data type="positiveInteger"/></attribute></optional>
            <zeroOrMore>
              <element name="col">
                <ref name="globalAttrs"/>
                <optional><attribute name="span"><data type="positiveInteger"/></attribute></optional>
              </element>
            </zeroOrMore>
          </element>
        </zeroOrMore>
        <zeroOrMore><ref name="rowGroupOrRow"/></zeroOrMore>
      </interleave>
    </element>
  </define>

  <!-- ============ embedded content ============ -->

  <define name="sourceEl">
    <element name="source">
      <ref name="globalAttrs"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="srcset"><data type="string"/></attribute></optional>
      <optional><attribute name="sizes"><data type="string"/></attribute></optional>
      <optional><attribute name="media"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="trackEl">
    <element name="track">
      <ref name="globalAttrs"/>
      <attribute name="src"><data type="anyURI"/></attribute>
      <optional><attribute name="kind"><data type="token"/></attribute></optional>
      <optional><attribute name="srclang"><data type="language"/></attribute></optional>
      <optional><attribute name="label"><data type="string"/></attribute></optional>
      <optional><attribute name="default"><data type="token"/></attribute></optional>
    </element>
  </define>

  <define name="audioEl">
    <element name="audio">
      <ref name="globalAttrs"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="controls"><data type="token"/></attribute></optional>
      <optional><attribute name="autoplay"><data type="token"/></attribute></optional>
      <optional><attribute name="loop"><data type="token"/></attribute></optional>
      <optional><attribute name="preload"><data type="token"/></attribute></optional>
      <interleave>
        <zeroOrMore><ref name="sourceEl"/></zeroOrMore>
        <zeroOrMore><ref name="trackEl"/></zeroOrMore>
        <ref name="phrasingContent"/>
      </interleave>
    </element>
  </define>

  <define name="videoEl">
    <element name="video">
      <ref name="globalAttrs"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="poster"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="controls"><data type="token"/></attribute></optional>
      <optional><attribute name="autoplay"><data type="token"/></attribute></optional>
      <optional><attribute name="loop"><data type="token"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
      <interleave>
        <zeroOrMore><ref name="sourceEl"/></zeroOrMore>
        <zeroOrMore><ref name="trackEl"/></zeroOrMore>
        <ref name="phrasingContent"/>
      </interleave>
    </element>
  </define>

  <define name="pictureEl">
    <element name="picture">
      <ref name="globalAttrs"/>
      <zeroOrMore><ref name="sourceEl"/></zeroOrMore>
      <optional><ref name="imgEl"/></optional>
    </element>
  </define>

  <define name="iframeEl">
    <element name="iframe">
      <ref name="globalAttrs"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="title"><data type="string"/></attribute></optional>
      <!-- #33: found by the corpus fallout of excepting `name` from the
           wildcard for input/select/textarea/button's own rules. -->
      <optional><attribute name="name"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="embedEl">
    <element name="embed">
      <ref name="globalAttrs"/>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
    </element>
  </define>

  <define name="paramEl">
    <element name="param">
      <ref name="globalAttrs"/>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="objectEl">
    <element name="object">
      <ref name="globalAttrs"/>
      <optional><attribute name="data"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
      <interleave>
        <zeroOrMore><ref name="paramEl"/></zeroOrMore>
        <ref name="flowContent"/>
      </interleave>
    </element>
  </define>

  <!-- opaque foreign-namespace subtree: any attributes, any children,
       recursive (mirrors schemas/package.rng's looseContent/anyElement
       idiom). SVG/MathML's own content models are out of scope. -->
  <define name="foreignContent">
    <zeroOrMore><attribute><anyName/></attribute></zeroOrMore>
    <mixed><zeroOrMore><ref name="anyForeignElement"/></zeroOrMore></mixed>
  </define>

  <define name="anyForeignElement">
    <element><anyName/><ref name="foreignContent"/></element>
  </define>

  <define name="svgEl">
    <element name="svg" ns="http://www.w3.org/2000/svg"><ref name="foreignContent"/></element>
  </define>

  <define name="mathEl">
    <element name="math" ns="http://www.w3.org/1998/Math/MathML">
      <ref name="foreignContent"/>
    </element>
  </define>

  <!-- ============ epub:switch (real sequencing: case* then default?) ============ -->

  <!-- epub:case/epub:default hold a fallback rendition, which is often
       *foreign* markup (MathML/CML/etc — the whole point of epub:switch),
       not necessarily XHTML flow content. So their content is either
       ordinary flow content or opaque foreign elements. -->
  <define name="switchBranchContent">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="flowChoice"/>
          <ref name="anyForeignElement"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>

  <define name="epubSwitchEl">
    <element name="epub:switch">
      <ref name="globalAttrs"/>
      <optional><attribute name="epub:trigger"><data type="token"/></attribute></optional>
      <zeroOrMore>
        <element name="epub:case">
          <ref name="globalAttrs"/>
          <attribute name="required-namespace"><data type="anyURI"/></attribute>
          <optional><attribute name="required-version"><data type="token"/></attribute></optional>
          <ref name="switchBranchContent"/>
        </element>
      </zeroOrMore>
      <optional>
        <element name="epub:default">
          <ref name="globalAttrs"/>
          <ref name="switchBranchContent"/>
        </element>
      </optional>
    </element>
  </define>

  <!-- ============ flow content (phrasing ∪ block) ============ -->

  <define name="blockChoice">
    <choice>
      <element name="p"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <element name="div"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="blockquote">
        <ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <ref name="flowContent"/>
      </element>
      <ref name="olEl"/>
      <ref name="ulEl"/>
      <ref name="dlEl"/>
      <ref name="figureEl"/>
      <element name="hr"><ref name="globalAttrs"/></element>
      <element name="pre"><ref name="globalAttrs"/><ref name="phrasingContent"/></element>
      <ref name="detailsEl"/>
      <element name="section"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="article"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="aside"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="main"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <ref name="navEl"/>
      <element name="header"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="footer"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <element name="address"><ref name="globalAttrs"/><ref name="flowContent"/></element>
      <ref name="headingEl"/>
      <element name="hgroup"><ref name="globalAttrs"/><oneOrMore><ref name="headingEl"/></oneOrMore></element>
      <ref name="tableEl"/>
      <ref name="epubSwitchEl"/>
    </choice>
  </define>

  <define name="flowChoice">
    <choice>
      <ref name="phrasingChoice"/>
      <ref name="blockChoice"/>
    </choice>
  </define>

  <define name="flowContent">
    <mixed><zeroOrMore><ref name="flowChoice"/></zeroOrMore></mixed>
  </define>

  <!-- ============================================================ -->
  <!-- EPUB 2 (XHTML 1.1 + OPS 2.0.1) content model.                 -->
  <!--                                                              -->
  <!-- Reached via `load_from_define(rng, "htmlEl-epub2")`, so it   -->
  <!-- shares this schema's version-independent machinery - global  -->
  <!-- attributes, the obsolete-attribute catch-all, the head       -->
  <!-- vocabulary, opaque foreign (SVG/MathML) content - and only   -->
  <!-- redefines the element pool (issue #24). Same "STRICT on      -->
  <!-- vocabulary, PERMISSIVE on nesting" design as the EPUB 3 model -->
  <!-- above: one mixed pool, no per-element nesting rules, so the   -->
  <!-- only thing that differs from EPUB 3 is *which elements exist*.-->
  <!--                                                              -->
  <!-- The vocabulary is XHTML 1.1 as OPS 2.0.1 profiles it - which  -->
  <!-- is not plain XHTML 1.1 and not HTML5. Present here and absent -->
  <!-- from EPUB 3: `big`, `tt`, `acronym`, `applet`. Present in     -->
  <!-- EPUB 3 and absent here: every HTML5 addition (`section`,      -->
  <!-- `article`, `nav`, `figure`, `audio`, `video`, forms…) plus     -->
  <!-- `s`, `u`, `mark`, `ruby`, `time`, which HTML5 (re)introduced  -->
  <!-- but XHTML 1.1 has not. `s`/`u` being valid HTML5 but invalid  -->
  <!-- here is exactly the false-negative Doitsu reported; `big`/    -->
  <!-- `tt` being valid here but removed in HTML5 is the false       -->
  <!-- positive. Both fall out of the vocabulary, with no per-        -->
  <!-- element code. `epub:switch` is an EPUB 3 construct and is not  -->
  <!-- in this pool.                                                 -->
  <!-- ============================================================ -->

  <define name="htmlEl-epub2">
    <element name="html">
      <ref name="globalAttrs"/>
      <ref name="headEl"/>
      <ref name="bodyEl-epub2"/>
    </element>
  </define>

  <!-- body is block-level in XHTML 1.1: loose text and inline elements
       directly under it are content-model errors (#13). This is *not*
       HTML5, where the same is valid flow content, so it is EPUB 2 only. -->
  <define name="bodyEl-epub2">
    <element name="body"><ref name="globalAttrs"/><ref name="epub2Block"/></element>
  </define>

  <!-- Three content pools, the XHTML 1.1 block/inline distinction (#13):
         epub2Block  - block elements only, no loose text (body's model).
         epub2Inline - inline elements + text (a <p>, a heading, a <span>).
         epub2Flow   - both, + text (a <div>, a table cell): permissive on
                       nesting, the same trade the EPUB 3 model makes.
       Only body and the inline-only containers are constrained; the flow
       containers stay permissive, so the false-positive surface is just the
       cases XHTML 1.1 genuinely forbids and epubcheck genuinely reports. -->
  <define name="epub2Block">
    <zeroOrMore><ref name="epub2BlockChoice"/></zeroOrMore>
  </define>
  <define name="epub2Inline">
    <mixed><zeroOrMore><ref name="epub2InlineChoice"/></zeroOrMore></mixed>
  </define>
  <define name="epub2Flow">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="epub2InlineChoice"/>
          <ref name="epub2BlockChoice"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>

  <!-- Inline vocabulary: XHTML 1.1 + OPS - note big/tt/acronym present, and
       s/u/mark absent. `del`/`ins`/`noscript`/`script` and foreign SVG/MathML
       are in *both* pools (they are transparent / dual-level in XHTML 1.1),
       so they are pulled in via `epub2BothChoice` from each. -->
  <define name="epub2InlineChoice">
    <choice>
      <ref name="aEl-epub2"/>
      <element name="span"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="em"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="strong"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="b"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="i"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="small"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="big"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="tt"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="sub"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="sup"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="cite"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="code"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="kbd"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="samp"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="var"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="dfn"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="abbr"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="acronym"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="q"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="bdo"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="br"><ref name="globalAttrs"/></element>
      <ref name="imgEl"/>
      <ref name="iframeEl"/>
      <ref name="objectEl-epub2"/>
      <element name="applet">
        <ref name="globalAttrs"/>
        <interleave>
          <zeroOrMore><ref name="paramEl"/></zeroOrMore>
          <ref name="epub2Flow"/>
        </interleave>
      </element>
      <ref name="mapEl"/>
      <ref name="epub2BothChoice"/>
    </choice>
  </define>

  <!-- Block vocabulary. p, headings, address and dt take inline content
       only; div/blockquote take flow (permissive). -->
  <define name="epub2BlockChoice">
    <choice>
      <element name="p"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h1"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h2"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h3"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h4"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h5"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="h6"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="address"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="pre"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
      <element name="div"><ref name="globalAttrs"/><ref name="epub2Flow"/></element>
      <element name="blockquote">
        <ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <ref name="epub2Flow"/>
      </element>
      <element name="hr"><ref name="globalAttrs"/></element>
      <ref name="olEl-epub2"/>
      <ref name="ulEl-epub2"/>
      <ref name="dlEl-epub2"/>
      <ref name="tableEl-epub2"/>
      <ref name="epub2BothChoice"/>
    </choice>
  </define>

  <!-- Elements XHTML 1.1 permits at both block and inline level. -->
  <define name="epub2BothChoice">
    <choice>
      <ref name="scriptEl"/>
      <element name="noscript"><ref name="globalAttrs"/><ref name="epub2Flow"/></element>
      <element name="del"><ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <optional><attribute name="datetime"><data type="string"/></attribute></optional>
        <ref name="epub2Flow"/>
      </element>
      <element name="ins"><ref name="globalAttrs"/>
        <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
        <optional><attribute name="datetime"><data type="string"/></attribute></optional>
        <ref name="epub2Flow"/>
      </element>
      <ref name="svgEl"/>
      <ref name="mathEl"/>
    </choice>
  </define>

  <define name="aEl-epub2">
    <element name="a">
      <ref name="globalAttrs"/>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="rel"><data type="string"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="download"><data type="string"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="token"/></attribute></optional>
      <ref name="epub2Inline"/>
    </element>
  </define>

  <define name="objectEl-epub2">
    <element name="object">
      <ref name="globalAttrs"/>
      <optional><attribute name="data"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="height"><data type="nonNegativeInteger"/></attribute></optional>
      <interleave>
        <zeroOrMore><ref name="paramEl"/></zeroOrMore>
        <ref name="epub2Flow"/>
      </interleave>
    </element>
  </define>

  <define name="olEl-epub2">
    <element name="ol">
      <ref name="globalAttrs"/>
      <optional><attribute name="start"><data type="integer"/></attribute></optional>
      <optional><attribute name="type"><data type="token"/></attribute></optional>
      <zeroOrMore><ref name="liEl-epub2"/></zeroOrMore>
    </element>
  </define>

  <define name="ulEl-epub2">
    <element name="ul"><ref name="globalAttrs"/><zeroOrMore><ref name="liEl-epub2"/></zeroOrMore></element>
  </define>

  <define name="liEl-epub2">
    <element name="li"><ref name="globalAttrs"/>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <ref name="epub2Flow"/>
    </element>
  </define>

  <define name="dlEl-epub2">
    <element name="dl">
      <ref name="globalAttrs"/>
      <zeroOrMore>
        <choice>
          <element name="dt"><ref name="globalAttrs"/><ref name="epub2Inline"/></element>
          <element name="dd"><ref name="globalAttrs"/><ref name="epub2Flow"/></element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="tableEl-epub2">
    <element name="table">
      <ref name="globalAttrs"/>
      <optional>
        <attribute name="border">
          <choice><value type="token"></value><value>1</value></choice>
        </attribute>
      </optional>
      <optional><element name="caption"><ref name="globalAttrs"/><ref name="epub2Inline"/></element></optional>
      <zeroOrMore>
        <choice>
          <element name="thead"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl-epub2"/></zeroOrMore></element>
          <element name="tbody"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl-epub2"/></zeroOrMore></element>
          <element name="tfoot"><ref name="globalAttrs"/><zeroOrMore><ref name="trEl-epub2"/></zeroOrMore></element>
          <element name="colgroup"><ref name="globalAttrs"/><zeroOrMore><element name="col"><ref name="globalAttrs"/></element></zeroOrMore></element>
          <element name="col"><ref name="globalAttrs"/></element>
          <ref name="trEl-epub2"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="trEl-epub2">
    <element name="tr"><ref name="globalAttrs"/><zeroOrMore><ref name="cellEl-epub2"/></zeroOrMore></element>
  </define>

  <define name="cellEl-epub2">
    <choice>
      <element name="td"><ref name="globalAttrs"/><ref name="epub2Flow"/></element>
      <element name="th"><ref name="globalAttrs"/><ref name="epub2Flow"/></element>
    </choice>
  </define>

</grammar>
